.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  background-color: #f9f9f9;
}

.task-container {
  padding: 8px;
  margin-top: 8px;
  border-left: 4px solid #3498db; 
  background-color: #f0f0f0; 
}

.task-details {
  display: flex;
  justify-content: space-between;
}

.task-status {
  align-self: flex-end;
  font-size: 14px;
  
}

.project-form-container {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px; 
}

.project-form {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px; 
}

.container {
  display: flex;
  justify-content: space-between;
}